/* Generals */
body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Titles */
h1.title {
  text-align: center;
}

/* Main Section */
.main {
  width: 1060px;
  margin: auto;
  padding: 20px;
}
section {
 margin-top: 60px;
 margin-bottom: 80px;
}

.semantic-content::after {
  content: "";
  clear: both;
  display: table;
}
.second-title {
  text-align: center;
}

.semantic-elements {
  width: 50%;
  float: left;
}

.important {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.img-semantics {
  margin-left: 5%;
}

.float-img {
  float: right;
  width: 20%;
  padding-left: 47px;
}

.floats-example {
  /* content: "";
  clear: both;
  display: table; */
  overflow: auto;
}

.abs {
position: relative;
margin-bottom: 60px;
}

.exmaple-code {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 194px;

}

.row {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.row >.col, .row > .col-1-of-3{
  margin-right: 2%;
}

.row >.col:last-child, .row >.col-1-of-3:last-child{
  margin-right: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  width: 49%;
  float: left;
  height: 50px;
  background-color: rgb(75, 67, 67);
}

.col-1-of-3 {
  width: 32%;
  float: left;
  height: 50px;
  background-color: rgb(75, 67, 67);
}

.footer {
 height: 100px;
 background-color: black;
 margin-top: 50px;
}

