/* Generals */
body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Titles */
h1.title {
  text-align: center;
}

/* Main Section */
.main {
  width: 75%;
  margin: auto;
  padding: 20px;
}
section {
 margin-top: 60px;
}

.semantic-content::after {
  content: "";
  clear: both;
  display: table;
}
.second-title {
  text-align: center;
}

.semantic-elements {
  width: 50%;
  float: left;
}

.important {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.img-semantics {
  margin-left: 5%;
}

.float-img {
  float: right;
  width: 20%;
  padding-left: 47px;
}

.floats-example {
  /* content: "";
  clear: both;
  display: table; */
  overflow: auto;
}

.abs {
position: relative;
}

.exmaple-code {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 254px;
}

.footer {
 height: 100px;
}

