body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1.title {
  text-align: center;
}

.main {
  width: 75%;
  margin: auto;
  padding: 20px;
}
section {
 margin-top: 60px;
}

.semantic-content::after {
  content: "";
  clear: both;
  display: table;
}
.second-title {
  text-align: center;
}

.semantic-elements {
  width: 50%;
  float: left;
}

.important {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.img-semantics {
  float: right;
}

